

.home_slider .slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 43%;
    left: 14px;
    z-index: 9;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    box-shadow: 1px 6px 14px rgb(0 0 0/20%);
    border-radius: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    background: #fe9445;
    color: #fff;
}

.home_slider .slick-next {
    right: 14px;
}

.home_slider .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 43%;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    box-shadow: 1px 6px 14px rgb(0 0 0/20%);
    border-radius: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    background: #fe9445;
    color: #fff;
}

.home_slider .slick-prev:before {
    content: "\f053";
}

.home_slider .slick-next:before {
    content: "\f054";
    font-family: "font awesome 5 free";
    font-weight: 900;
    color: #fff;
    opacity: 1;
    font-size: 15px;
}

.home_slider .slick-prev:before {
    content: "\f053";
    font-family: "font awesome 5 free";
    font-weight: 900;
    color: #fff;
    opacity: 1;
    font-size: 15px;
}

/* end */
.user-widget-profile{
    background-image:  url('https://shikshakul.com/public/web/img/faculity_bg.png');
    background-size: 100% 100%;
}
.header {
    height: 70px;
    background-color: #fff6e5;
}
.main-nav-eight li a {
    color: #263f4e;
    font-weight: bold;
}
.search{
    position: relative;
    /* width: 20%; */
    background: radial-gradient(circle, #d0a140, #f7cf48, #bd8f34 100%);
    padding: 6px;
    border-radius: 6px;    height: 55px;
    display: inline-block;
}

.detai_l .search {
    width: 75%;
    height: auto;
}

.search input{width: 100%;
    background-color: #2a313a;
    color: #fff;
    padding: 10px 8px;
    border: none;}
.left_logo {
    width: 48%;    padding-left: 1%;
}
.search i{
    color: #fff;
    position: absolute;
    z-index: 3;
    top: 19px;
    right: 14px;
}
.right_btn ul.nav.header-navbar-rht {
    flex-wrap: nowrap;
}
.top_header {
    display: flex;
    align-items: center;
    background-color: #01445e;
    justify-content: space-between;
}
.right_btn {
    justify-content: end;
    display: flex;
    gap: 5%;
    align-items: center;
    margin-right: 3%;    
}
.search a {
    padding: 10px 34px;
    display: inline-block;
    color: #fff;
    /* border: 1px solid #000; */
    background-color: #2a313a;
    /* border-width: 4px; */
    /* border-style: solid; */
    /* border-image: linear-gradient(to top, #d0a140, #f7cf48, #bd8f34) 1; */
    /* padding: 10px 20px; */
    border-radius: inherit;

}
.right_btn1 .search a {
    font-weight: 500;
}
.search a.bg_c{
background-color:#ab3935;
 }
.upssc.text-center {
    width: 83%;
    padding: 0 6.3%;
    margin: auto;
    font-size: 14px;
}
.pb60{
    padding-bottom: 60px;
}
.pt60{
    padding-top: 60px;
}

.check_point ul li{
    list-style: none;white-space: nowrap;
}
.learning{
    background-image: url('http://localhost/shikshakul/uploads/banner/lrearning.png');
    background-size: 100% 100%;
}
.abou_t h2 {
    position: relative;
    font-size: 36px;
    margin-bottom: 0;
    font-weight: 700;
    color: #26292c;
    letter-spacing: .9px;
    padding: 10% 0;}

    .abou_t h2 span {
        display: block;
        font-size: 60px;
        color: #ab3935;
    }

    .abou_t h2::before {
        content: '';
        position: absolute;
        width: 100px;
        height: 3px;
        background-color: #ffc600;
        top: 54px;
        left: 0;
    }
    .abou_t p {
        padding: 0 121px 7px 0px;
        font-size: 16px;
    }
    .abou_t h2::after {
        content: '';
        position: absolute;
        width: 100px;
        height: 3px;
        background-color: #ffc600;
        bottom: 62px;
        right: 0;
    }

    .check_point {
        background-color: #fff;
        width: 70%;
        padding: 24px;
        position: absolute;
        right: -11%;
        z-index: 2;
        border-radius: 6px;
    }
    .abou_t {
        position: relative;
    }
    .suaacess {
        background-color: #ffe9a1;
        border: 4px solid #264255;
       
        border-radius: 51px;
    }
    .Feature_suaacess{
        padding: 10px;
    }
    .Quez_z{
        padding: 10px;
        background-color:#264255;
        padding: 6% 1% 5% 1%;
        border-radius: 44px;
    }
 
.detai_l a {
    background-color: #ab3935;
    padding: 4% 2%;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    display: block;
}
.detai_l {
    margin-top: -33px;
}

.detai_l p {
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
    background: #264255;
    padding: 12px;
    color: aliceblue;
    border-radius: 6px;
}
.feature {
    /* padding: 5%;
    border: 4px solid #113849;
    border-radius: 25px; */
}
.feature_slider .mendor-box{
    background-color: transparent;
}
.panel--header img.w100 {
    width: 12%;
}

.panel--header.bg_color{
    background: linear-gradient(90deg, #ffc402 12%, #fdd03f 52%, #fadf8f 100%);
}
span.talk {
    display: inline-block;
    position: relative;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: capitalize;
    color: #fff6e5;
    padding: 0px 8px;
}

/* .talk::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-image: url('../../../../public/web/img/topper/talk.png');
    bottom: 62px;
    right: 0;
} */
.talk img {
    position: absolute;
    width: 100%;
    z-index: -1;
    /* width: 112%; */
    top: -2px;
    left: 0px;
}
span.t_bg {
    position: absolute;
    font-size: 113px;
    top: -17px;
    z-index: -11;
    opacity: 0.3;
    left: 19%;
    text-transform: capitalize;
    color: #cececb;
}
.user_l img {
    
    width: 100%;
  
}
.user_r h3 {
    font-weight: 700;
    margin-bottom: 20px;
}
.user_r a {
    font-size: 16px;
    font-weight: 600;
    background-color: #eee;
    padding: 7px 37px;
}

.us_erd{
    display: flex;
    gap: 9%;
    align-items: center;
}
.deta_il p {
    background-color: #01445e;
    padding:6px 32px;
    font-size: 18px;
    color: #fff;
    width: 84%;
    border-radius: 5px;
    margin: auto;
    font-size: 14px;
    left: 9%;
    position: absolute;
    bottom: -24px;
    border: 2px solid #fff;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 36px;
}
.user_l {
    position: relative;
}
.rank span {
    color: #fff;
    font-weight: 600;
}
.mendor-box{
    border-radius: 0;
}
.top_pe_r{
     /* background-image: url(../../../../public/web/img/topper/slid_bg.png); */
     background-size: 100% 100%;
     /* padding: 5px; */
     border: 5px solid #01445e;
     border-radius: 20px;
     overflow: hidden;
}
a.btn.s_inpput {
    width: 100%;
    border-radius: 25px;
    border: 1px solid #eab208;
    padding: 10px 0;
    font-weight: 600;
    background: linear-gradient(0deg, rgba(249,179,1,1) 30%, rgba(249,225,0,1) 50%, rgba(253,187,45,1) 100%);
}
.rank{
    background-color: #01445e;
    border: 2px solid #ffc631;
    position: absolute;
    right: 0;
    padding: 7px 11px;
    display: flex;
    /* padding: 0 2px; */
    border-radius: 49px;
    flex-direction: column;
}
.rank b {
    color: #ffd13a;
    font-size: 23px;
    line-height: 1;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: #be9b9b;
    border: 0;
    outline: none;
    background: #01445e;
    border-radius: 25px;
}
.detai_l.m_o_ck {
    margin-top: 9px;
}

.feature.moc_k {
    border: 4px solid #ffc402;
    position: relative;
        border: 4px solid #ffc402;
        background-color: #113849;
 
}
.feature.moc_k img {
    display: block;
    height: 202px;
}
.detai_l.m_o_ck.text-center {
     /* position: absolute; */
     bottom: 21px;
     /* width: 100%; */
     margin-bottom: 8px;
 
}
 
 
.user_img img {
    border-radius: 106px;
    width: 25%;
    margin: auto;
    border: 3px solid #ffc402;
}
.user_img h3.m_name {
    font-size: 15px;
}
.de_tail {
    display: inline-block;
    background-color: #fff;
    padding: 7px 17px;
    margin: -21px 0 12px 0;
    border-radius: 5px;
}
.InterView {
    box-shadow: 0px 0px 10px 3px #50505bc2;
    border-radius: 25px;
    background: linear-gradient(0deg, rgba(249,179,1,1) 0%, rgba(255,226,0,1) 33%, rgba(255,223,117,1) 69%, rgba(217,149,0,1) 100%);
    padding: 3% 0;
}
.moc_k_interview .slick-list{
    padding: 3% 0 0 0;
}
.de_tail a {
    background-color: #ab3935;
    padding: 3px 29px;
    border-radius: 100px;
    color: #fff;
    display: -webkit-box;
    max-width: 400px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

}
.mock_user {
    /* margin-top: -15%; */
}
.moc_k_interview .slick-list .mendor-box{
    overflow: inherit;
}
.course img{
    width: 100%!important;
    height:280px;
}

.course .mendor-box{
    width: 95%!important;
    margin: auto;
}
.search.c_btn {
    position: absolute;
    bottom: 10%;
    left: 37%;
    height: 44px;
}
.cours_e.c_btn {
    position: relative;
}
.search.c_btn a {
    padding: 5px 34px;
    background-color: #5c0410;
}

h2.h_eading {
    font-weight: bold;
    font-size: 40px;
}
/* -------------- */
 
p.fac_deatial.col_main {
    color: #01445e;
}
.faculty_user img {
    border-radius: 100%;
    width: 178px;
    margin: auto;
    height: 178px;
    border: 1px solid #eee;
    background-color: #fff;
}

.faculty_user .de_tail {
    display: inline-block;
    background-color: #ffc402;
    padding: 7px 17px;
    margin: -32px 0 12px 0;
    border: 2px solid #fff;
    border-radius: 11px;
}
.faculty_user .de_tail h3.m_name{
    font-size: 16px;
    color: #01445e;
    font-weight: bold;
    display: -webkit-box;
    /* max-width: 400px; */
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}  
.slick1 {
    position: relative;
}
.faculty_user.text-center {
    width: 90%;
}
.slick1::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 110px;
    background-color: #01445e;
    bottom: 20px;
    left: 0;    border-radius: 6px;
}
 
p.fac_deatial {
    font-size: 16px;
    padding: 0 7%;
    color: #fedc00;
}
.slick1 ul.slick-dots li button {
    background-color: #fff;
}
.video_box iframe {
    border-radius: 10px;
}
.section-header-eight .sub-title {
    color: #26292c;
    font-size: 18px;
    margin-bottom: 15px;
    font-family: math;
    font-weight: bold;
}
.rating_img img {
    width: 14%;
    border-radius: 100%;    z-index: 1;
}
.rating_img {
    display: flex;
    align-items: center;
}
.rating_img span {
    padding: 7px 6%;
    background-color: #01445e;
    margin-left: -9px;
    
    color: #fff;
    border-radius: 5px;
}
.student {
    padding: 4%;
    background-color: #fff;
}
.rating {
    margin-bottom: 10px;
    text-align: center;
}
.search_d_c{
    position: relative;
    background: linear-gradient(0deg, rgb(255 202 66) 30%, rgb(252 231 32) 50%, rgb(255 200 82) 100%);
    display: block;
    padding: 6px;
    border-radius: 40px;
    border: 5px solid white;
}
.search_demo img {
    position: absolute;
    width: 8%;
    bottom: -10px;
    right: 24px;
}
.search_demo input {
    padding: 10px 2%;
    border-radius: 39px;
    border: none;
    font-size: 20px;
    background: linear-gradient(0deg, rgba(249,179,1,1) 30%, rgba(249,225,0,1) 50%, rgba(253,187,45,1) 100%);
    text-align: center;
    width: 100%;
}
.s_inpput::placeholder {
    color: #000;
    opacity: 1; /* Firefox */
    font-weight: 700;
  }

.contact_detail{
    background-image: url('https://shikshakul.com/public/web/img/contact/bgimg.png');
background-size: 100% 100%;
}
.follow{
    color: #ffc402;
    font-size: 20px;
    font-weight: 500;
}
h2.footer-title.cont a {
    color: #fff;
    text-decoration: underline;
}
h2.footer-title.cont{
    color: #ffc402;    font-size: 26px;    margin-bottom: 14px;
}
.social_icon ul {
    display: flex;
    gap: 16px;
}
.social_icon ul li a {
    width: 40px;
    height: 40px;
    background: #fff;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}
.footer-contact-info p.mb-1 i {
    color: #ffc402;
    font-size: 20px;
    line-height: 2;
}
.footer-address i.loc {
    color: #ffc402;
    font-size: 22px!important;
}
.pro-avatar img {
  width: 94%;
}