.w100 {
    width: 100%;
}

.pos {
    position: relative;
}

.tag_line {
    position: absolute;
    width: 100%;
    z-index: 999;
    top: 14%;
    text-align: center;
}

.ban_ner {
    /* position: absolute;
    width: 100%;
    top: 0; */
}

.ban_ner .slider .mendor-box {
    margin-bottom: 0;
}

.banne_r {
    /*height: 474px;*/
    overflow: hidden;
}


.mendor-img img {
    width: 55px;
    height: 55px;
    border-radius: 25px;
}

.mendor-content .title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #201663;
}

.mendor-price {
    color: #fe9445;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}

.feature-grid:hover {
    background-color: rgb(1 68 94);
}

.feature-grid:hover .feature-text-eight {
    color: #fff
}

.feature-grid:hover p {
    color: #fff!important
}

.logo_img {
    /* height: 68px; */
    width: 100%;
}

.mendor-course {
    font-size: 16px;
    color: #201663;
    margin-bottom: 2px;
    display: -webkit-box;
    /* max-width: 400px; */
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rig_ht {
    float: right;
}

.form-group.search-info-eight.loc {
    flex: 0 0 77%;
}

.eg_bt {
    height: 42px!important;
    line-height: 38px!important;
}

.form-group.search-info-eight.loc input {
    height: 42px!important;
}

.top_b {
    padding: 30px 0!important;
    margin: 12% auto!important;
}

.tag_line h1 {
    width: 50%;
    margin: auto;
    font-size: 34px;
    color: #fff;
    text-transform: capitalize;
}

.tag_line h1 span {
    color: #fe9445;
    font-weight: bold;
}

.feature_slider .slick-slide {
    margin: 15px;
}

.feature_slider .slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 46%;
    left: 0;
    z-index: 9;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    box-shadow: 1px 6px 14px rgb(0 0 0/20%);
    border-radius: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    background: #fe9445;
    color: #fff;
}

.feature_slider .slick-next {
    right: 0px;
}

.feature_slider .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 46%;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    box-shadow: 1px 6px 14px rgb(0 0 0/20%);
    border-radius: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    background: #fe9445;
    color: #fff;
}

.feature_slider .slick-prev:before {
    content: "\f053";
}

.feature_slider .slick-next:before {
    content: "\f054";
    font-family: "font awesome 5 free";
    font-weight: 900;
    color: #fff;
    opacity: 1;
    font-size: 15px;
}

.feature_slider .slick-prev:before {
    content: "\f053";
    font-family: "font awesome 5 free";
    font-weight: 900;
    color: #fff;
    opacity: 1;
    font-size: 15px;
}

.faciulty_box {
    display: flex;
}


/* .feature_slider .slick-next:before, .feature_slider .slick-prev:before {
    content: "\f054";
    font-family: "font awesome 5 free";
    font-weight: 900;
    color: #fff;
    opacity: 1;
    font-size: 15px;
} */

.faciulty_box .mendor-img {
    width: 30%;
}


/* =========modal-css========= */


/** Donna Galletta | LIGHTBOX MARKUP **/

.lightbox {
    /** Default lightbox to hidden */
    display: none;
    /** Position and style */
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
}

.lightbox:target {
    /** Remove default browser outline */
    outline: none;
    /** Unhide lightbox **/
    display: block;
}

.border-0 {
    border-radius: 0!important;
    overflow: auto!important;
}


/** videoModal **/

#videoModal {
    border-radius: 0;
    width: 870px;
    margin: auto;
}

#videoModal .modal-header {
    background: #000;
    border: 0;
    color: #fff;
    position: relative;
    height: 35px;
}

#videoModal .modal-header h3 {
    font-size: 18px;
    line-height: 22px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

#videoModal .modal-body {
    height: 489px;
    padding: 0;
    max-height: none;
    overflow: hidden;
}

#videoModal .modal-footer:empty {
    display: none !important;
}

#videoModal .close {
    background: #db00b8;
    color: #fff;
    font-size: 24px;
    margin: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    text-shadow: none;
    top: 0;
    width: 38px;
}


/* ------------------------- */

.panel--header {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    padding: 20px;
}

.panel--header h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    color: #264255;
    font-weight: bold;
}

.panel--header h3 i.icon-edit {
    background-image: url(../img/icons/icon-edit.svg);
}

.bg-green {
    background-color: #27b999;
    position: relative;
}

.quiz-page::after {
    content: '';
    position: absolute;
    left: 5%;
    top: 13px;
    width: 90%;
    height: 1px;
    background-color: #17a082;
    z-index: 0;
}

.quiz-page {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 15px;
    top: 18px;
}

.quiz-page li.active {
    background-color: #000;
    color: #fff;
}

.quiz-page li {
    display: inline-block;
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-radius: 30px;
    text-align: center;
    color: #000;
    font-weight: 600;
    z-index: 1;
    position: relative;
    margin: 0 0 0 4px;
    font-size: 14px;
    line-height: 26px;
}

.question {
    max-height: 250px;
    overflow: auto;
}

.quezz {
    display: flex;
    gap: 5px;
    align-items: flex-start;
}

.quezz input {
    width: 16px;
    height: 16px;
    margin-top: 4px;
}

.panal_body {
    min-height: 500px;
    max-height: 500px;
    overflow-y: auto;
    padding-bottom: 0%;
    background-color: #f3f9f8;
    padding-left: 3%;
}

.quezz label {
    width: 92%;
    font-size: 15px;
}

.quezz_btn {
    display: flex;
    justify-content: space-between;
    /* position: absolute; */
    bottom: 30px;
    width: 100%;
    padding: 7px 17px;
    background-color: #f3f9f8;
    padding-bottom: 12px;
}

.quezz_body {
    padding: 0 0 15px 0;
}

.fineshed .alert {
    background-color: #f06262;
    padding: 5px 13px;
    margin: 0;
}

.fineshed button {
    border-color: #a5a5a500;
    padding: 3px 8px;
    background-color: #9595957a;
    border-radius: 3px;
    color: #000;
    font-weight: 600;
}

.start button {
    border-color: #a5a5a500;
    padding: 3px 8px;
    background-color: #9595957a;
    border-radius: 3px;
    color: #000;
    font-weight: 600;
}

.bg-purple {
    background-color: #8f72ff;
}

.bg-alert {
    background-color: #ff668f;
}

.label .bg-red {
    background-color: #cbcfce;
}

.editorial-box:hover {
    background-color: #ffd066;
}

.editorial-box p {
    /* line-height: 1.4;
    min-height: 18px; */
    margin-bottom: 5px;
}

.editorial-box {
    background-color: #e8e7e7;
    padding: 11px 11px;
    margin-bottom: 4px;
}

.editorial-box ul li {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
    font-size: 14px;
    color: #0062a4;
    /* opacity: .5; */
    filter: alpha(opacity=50);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
}

span.label.bg-red {
    background-color: #00425c;
    font-size: 12px;
    padding: 2px 9px;
    border-radius: 3px;
    margin-bottom: 6px;
    display: inline-block;
}

.editorial-box p a {
    color: #000;
    text-decoration: none;
    margin-bottom: 5px;

}

span.label.bg-red a {
    color: #fff;
}

ul.actions {
    padding-left: 7px;
}

ul li.date {
    background-image: url(../../assets/img/user/icon-calendar.svg);
}

.panal_body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.panal_body::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.panal_body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #01445e;
}

.br_b {
    border-bottom: 1px solid rgb(122, 117, 117)
}

.q_last {
    min-height: 500px;
    max-height: 500px;
}

.news_d {
    font-size: 15px;
    color: #201663;
    margin-bottom: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mendor-content {
    padding: 15px 0 5px!important;
}

.mendor-content .title a {
    font-size: 15px;
    color: #201663;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

section.search {
    background-color: #01445e;
    padding: 1.3% 0;
}
/* --------video-slider--------- */
.video-slider .slick-next:before, .video-slider .slick-prev:before {
    content: "\f054";
    font-family: "font awesome 5 free";
    font-weight: 900;
    color: #fff;
    opacity: 1;
    font-size: 15px;
}
.video-slider .slick-prev, .video-slider .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 40%;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    box-shadow: 1px 6px 14px rgb(0 0 0/20%);
    border-radius: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    background: #fe9445;
    color: #fff;
    z-index: 9;
}

.video-slider .slick-prev {
    left: 0px;
}
.video-slider .slick-next {
    right: 0px;
}
.video-slider .slick-prev:before {
    content: "\f053";
}
.quiz .quizControls {
    margin-top: 10px;
    position: absolute!important;
    width: 99%!important;
    bottom: -34%!important;
}
ul.bank_d li{
    color: #fff;
}
.quiz .quizQuestions > li .questionTitle {
 
    font-size: 16px!important;
}
.interview_slider .slick-prev, .interview_slider .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 40%;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    box-shadow: 1px 6px 14px rgb(0 0 0/20%);
    border-radius: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    background: #fe9445;
    color: #fff; z-index: 9;
}

 
.interview_slider  .slick-next:before, .interview_slider  .slick-prev:before {
    content: "\f054";
    font-family: "font awesome 5 free";
    font-weight: 900;
    color: #fff;
    opacity: 1;
    font-size: 15px;
   
}
.faciulty_box1 {
    text-align: center;
   
}
.user_d{
    padding-top: 20px;
}
.interview_slider  .slick-prev:before {
    content: "\f053";
}
/* ---------30-6-23-------- */
.detial_item ul {
    padding: 0%;
    margin-bottom: 0;
}
.detial_item ul li{
    list-style: none;
}
.detial_item ul li {

}
.detial_item ul li a:hover{
    background-color: #00425c;
    color: #fff;
}
.detial_item ul li a{
    list-style: none;
    margin-bottom: 10px;
    padding: 11px 11px;
    display: block;
    border: 1px solid #a0b2ba;
    border-radius: 4px;
}
.faciulty_box.m_h{
min-height: 96px;
}
.breadcrumb-bar .breadcrumb-title {

text-transform: capitalize;

color: #89651f;
}

.breadcrumb-item.active {
    color: #ba8c34;
}
/* =================contact================ */

.grid-70-30 {
    display: grid;
    grid-template-columns: 70% 30%;
  }
  .get_form_inner {
    display: block;
    padding: 50px 40px;
    background: #fff;
    box-shadow: -4px -2px 20px -7px #cfd5df;
  }
  input[type="text"], input[type="text"], input[type="email"], input[type="tel"] {
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    color: #333;
    height: 42px;
    padding: 0 0 0 20px;
    width: 100%;
    outline: 0;
  }
  .grid-50-50 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .grid-full {
    margin: 20px 0;
  }
  textarea {
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    color: #333;
    padding: 12px 0 0 20px;
    width: 100%;
    outline: 0;
    margin-bottom: 20px;
  }
  .get_form_inner_text h3 {
    color: #333;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 40px;
  }
  input[type="submit"] {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid;
    font-weight: 500;
    padding: 10px 20px;
    outline: 0;
    cursor: pointer;
    color: #103e65;
    transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -moz-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -ms-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  input[type="submit"]:hover {
    background-color: #f85508;
    border-color: #f85508;
    color: #fff;
  }
  .get_say_form {
    display: inline-block;
    padding: 45px 0 25px 30px;
    background: #01445e;
    position: relative;
  }
  .get_say_form h5 {
    color: #fff;
    font-size: 26px;
    margin: 0 0 40px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .get_say_social-icn {
    display: flex;
    position: absolute;
    bottom: 40px;
  }
  .get_say_social-icn a {
    font-size: 22px;
    color: #fff;
    padding: 0 20px 0 0;
  }
  .get_say_info_sec i {
    color: #fff;
    font-size: 32px;
  }
  .get_say_info_sec > li {
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
    margin-bottom: 40px;
  }
  .get_say_info_sec > li a {
    width: 100%;
    display: block;
    padding: 15px 25px;
    color: #fff;
    font-size: 16px;
    text-decoration: unset;
    font-weight: 500;
    background: #003144;
    border-radius: 5px 0 0 5px;
    transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -moz-transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -ms-transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .get_say_info_sec > li a:hover {
    background-color: #f85508;
  }



/* ===============contact============= */
/* -------------3-7-23--------- */
ul.booking-date.bk li {
    display: flex;
    justify-content: space-between;
}
span.c_input input {
    margin-bottom: 13px;
}
ul.booking-date.bk li span{
    display: flex;
    align-items: center;
}
ul.booking-date.bk li span input{
        padding-left: 5px;
}

/* -------------3-7-23--------- */


/*----- media queries ------*/

@media only screen and (max-width: 1024px) and (min-width: 992px) {
    .main-nav>li {
        margin-right: 13px;
    }
    .logo {
        display: inline-block;
        margin-right: 30px;
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 1024px) {
    .main-nav>li {
        margin-right: 13px;
    }
    .logo {
        display: inline-block;
        margin-right: 30px;
        width: 100%;
    }
}
@media only screen and (max-width: 500px) {
section.search{
    display:none;
}
.mendor-img img{
    width:auto!important;
    height:auto!important;
}
.upssc.text-center {
    width: 100%!important;
    padding: 0 1.3%!important;
 
}
.abou_t h2::before{
    top: 33px!important;
}
.abou_t h2::after {

    bottom: 33px!important;
    right: 17px;
}

.abou_t h2 span{
    font-size: 30px!important;
}
.abou_t p {
    padding: 0!important;
 
}
.check_point {
    left: 0;
    position: inherit!important;
    width: 100%!important;
    padding: 24px!important;
    margin-bottom: 26px!important;

/* ------- */
}
.deta_il p{
width: 100%!important;    padding: 6px 6px !important;
font-size: 12px!important;
display: -webkit-box!important;
-webkit-line-clamp: 2!important;
-webkit-box-orient: vertical!important;
overflow: hidden!important;
text-overflow: ellipsis!important;
}
.user_l {
 
    /* width: 40%!important; */
}
p.fac_deatial{
    padding: 0!important;
}
.rank{
    right: -16px!important;
}
span.t_bg {
    left: -2%!important;

    font-size: 62px!important;
}
.user_r a {
    font-size: 12px!important;

    padding: 7px 10px!important;
}
.moc_k_interview .slick-list {
    padding: 11% 0 0 0!important;
}
.mock_user {
    margin-top: -18%!important;
}
h2.h_eading {
 
    font-size: 1.5rem!important;

}
p.fac_deatial{
    font-size: 12px!important;
}
.faculty_user img{
 
    width: 63%!important;
}
   




}
/*----- media queries ------*/